<!DOCTYPE html>
<html lang="es">
<head>
  <%- include('../partials/head.ejs') %>
</head>
<body>
  <%- include('../partials/header.ejs') %>
  <div class="container">
    <div id="article-detail" class="article-detail"></div>
    <div class="comments-form-wrapper">
      <p class="header-form">Introduzca los datos para dejar un comentario:</p>
      <form id="comments-form">
        <div class="comments-form-field">
          <label for="name">Name *</label>
          <input class="comments-input" type="text" name="name" id="comments-form-name" required>
        </div>
        <div class="comments-form-field">
          <label for="last-name">Last name *</label>
          <input class="comments-input" type="text" name="last_name" id="comments-form-last-name" required>
        </div>
        <div class="comments-form-field">
          <label for="email">Email *</label>
          <input class="comments-input" type="email" name="email" id="comments-form-email" required>
        </div>
        <div class="comments-form-field comments-textarea">
          <label for="message">Message *</label>
          <textarea class="comments-input" name="message" id="comments-form-message" required maxlength="500"
            placeholder="Escribe un mensaje de no más de 500 caracteres"></textarea>
        </div>
        <input type="submit" value="Submit" id="comments-form-submit" />
      </form>
      <div id="notice"></div>
    </div>
  </div>
  
  <%- include('../partials/footer.ejs') %>
</body>
</html>