@import '~styles/settings';
@import '~styles/utils';
@import '~styles/layout';

.article {
  margin: $gutter-padding / 2;
  display: flex;
  box-sizing: border-box;
  width: 100%;
  @include for-tablet-portrait {
    width: 40%;
}
  flex-wrap: wrap;

  .article-resume {
    width: 100%;

    .article-image {
      width: 100%;
      object-fit: cover;
      border-radius: 10px;
    }

    .video-container{
      position: relative;
      height: 0;
      padding-bottom: percentage(315 / 560);    
    }

    iframe {
      position:absolute;
      left:0;
      top:0;
      height: 100%;
      width: 100%;    
    }

    .title-wrapper {
      width:100%;
      display: inline-flex;
      padding-top: 5px;
      justify-content: space-between;

      .article-title {
        //margin-top: 5px;
       // margin-bottom: 0;
        @include fontSize($font-size-xl);
        color: $primary-color;
      }

      i {
        color: $link-color;
      }
    }

  
    .introduction {
      height: 3rem;
      overflow: hidden;
    }
  }
  
  .article-author {
    display: flex;
    margin-top: 2px;
    text-transform: uppercase;
    @include fontSize($font-size-s);
    color: $gray;

    .avatar {
      width: 50px;
      height: 50px;
      border-radius: 50%;
    }
  }  
}
