@import '~styles/normalize';
@import '~styles/utils';
@import '~styles/settings';

body {
    padding-bottom: $footer-height + 60px;
}

h1 {
    @include fontSize($font-size-xxl);
    font-family: $font-family-main;
}

p, div {
    font-family: $font-family;
}

.container {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    flex-direction: column;
    align-items: center;
}

header {
    background-color: $primary-color;
    min-height: 89px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 $gutter-padding;

    a.home {
        text-decoration: none;
    }

    .title-container {
        display: flex;
        align-items: center;
        justify-content: center;
    
        .title {
          color: $white;
        }

        .headphones-icon {
            font-size: 2em;
            color: $white;
            padding-right: 5px;
          }
    }

    .menu-container {
        
        .hamburger-icon {
            font-size: 2em;
            color: $white;
        }
    }

}

nav {
    display: flex;
    justify-content: center;

    a {
        text-transform: uppercase;
        font-weight: bold;
        text-decoration: none;
        color: $link-color;
        @include fontSize($font-size-m);
        margin: 30px 0;
        padding: 0 10px;
    
        &:hover {
          color: lighten($link-color, 25%);
        }
    }
}

footer {
    height: $footer-height;
    box-sizing: border-box;
    position: fixed;
    background-color: $white;
    bottom: 0;
    width: 100%;
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    box-shadow: $box-shadow-default;

    p {
        margin: 0;
    }

    a {
        text-transform: uppercase;
        font-weight: bold;
        text-decoration: none;
        color: $link-color;
        @include fontSize($font-size-m);
        margin: 30px 0;
        padding: 0 10px;
    
        &:hover {
          color: lighten($link-color, 25%);
        }
    }
}