@import '~styles/normalize';
@import '~styles/utils';
@import '~styles/settings';
@import '~styles/layout';

body {
    padding-bottom: $footer-height + 60px;
}

h1 {
    @include fontSize($font-size-xxl);
    font-family: $font-family-main;
}

p, div {
    font-family: $font-family;
}

.container {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    flex-direction: column;
    align-items: center;
}

header {
    background-color: $primary-color;
    min-height: 89px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 $gutter-padding;

    .title-container {
        display: flex;
        align-items: center;
        justify-content: center;
    
        a.home {
            text-decoration: none;
            color: $white;
            
            &:hover {
                color: lighten($link-color, 25%);
              }
        }


        .headphones-icon {
            font-size: 2em;
            color: $white;
            padding-right: 5px;
          }
    }

    .menu-container {
        
        .hamburger-icon {
            font-size: 2em;
            color: $white;
        }

        .login {
            display: none;

        }

        @include for-tablet-portrait {
            .login {
                display: initial;
            }
            & .hamburger-icon {
              display: none;
            }
        }

        a.login {
            text-transform: uppercase;
            font-weight: bold;
            text-decoration: none;
            color: $white;
            @include fontSize($font-size-m);
        
            &:hover {
              color: lighten($link-color, 25%);
            }
        }
    }

}

nav {
    display: none;
    
    a {
        display: inline-flex;
        text-transform: uppercase;
        font-weight: bold;
        text-decoration: none;
        color: $link-color;
        @include fontSize($font-size-m);
    }

    .login-nav {
        display: none;
    }
    
    @include for-tablet-portrait {
            display: flex;
            flex-direction: row;
            justify-content: center;
    
            a {
                margin: 30px 0;
                padding: 0 10px;
            
                &:hover {
                  color: lighten($link-color, 25%);
                }
            }
    }
}

@include for-mobile {
    .nav-open {
        display: flex;
        flex-direction: column;
        transition: all ease-in 1s;

        a {
            padding: $gutter-padding / 2 0;
        }

        .login-nav {
            display: inline-flex;
            border-bottom: $border-default;
        }
    }
}

footer {
    height: $footer-height;
    box-sizing: border-box;
    position: fixed;
    background-color: $white;
    bottom: 0;
    width: 100%;
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    box-shadow: $box-shadow-default;

    p {
        margin: 0;
    }

    a {
        text-transform: uppercase;
        font-weight: bold;
        text-decoration: none;
        color: $link-color;
        @include fontSize($font-size-m);
        margin: 30px 0;
        padding: 0 10px;
    
        &:hover {
          color: lighten($link-color, 25%);
        }
    }
}
