$white: #fefefe;
$gray: rgba(200,200,200,1);
$darkgray: gray;
$purple: #331e38;
$light-blue: #70A0AF;
$bluegray: #334950;
$red: red;
$blue: blue;


$primary-color: $purple;
$secondary-color: $light-blue;
$link-color: $bluegray;
$border-color: $gray;
$error: $red;

$box-shadow-default: 1px -5px 5px -5px $gray;
$border-default: 1px solid $border-color;
$gutter-padding: 30px;

$font-size-xxl: 36;
$font-size-xl: 24;
$font-size-l: 20;
$font-size-m: 16;
$font-size-s: 14;
$font-size-xs: 10;
$font-size-xxs: 8;

$font-family: 'PT Serif', serif;
$font-family-main: 'Poppins', sans-serif;

$footer-height: 58px;

// Animation for like button
@keyframes heartBeat {
    from {
      transform: scale(1);
    }
    to {
      transform: scale(1.5);
    }
}

// Breakpoints

$breakpoint-tablet-portrait: 600px;
$breakpoint-tablet-landscape: 900px;
$breakpoint-desktop: 1200px;

