.article-detail {
    
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    //justify-content: center;

    .like-container {
        width: 100%;

        .like-button {
            outline-width: 0;
            //@include fontSize($font-size-xxxl);
            background-color: transparent;
            color: $red;
            border: none;
      
            .fas {
              animation-name: heartBeat;
              animation-duration: 1s;
              animation-iteration-count: infinite;
              animation-direction: alternate;
            }
          }
    }
    
    .article-header {
        display: flex;
        width: 100%;

        .title-container {
            width: 50%;
        }

        .cover-container {
            width: 50%;

            .article-image {
                width: 100%;
                height: 40vh;
                object-fit: cover;
                border-radius: 10px;
            }
        }
    }  
    
    .article-author {
       display: flex;
       width: 100%;
       margin-top: 2px;
       text-transform: uppercase;
       @include fontSize($font-size-s);
       color: $gray;
    
       .avatar {
         width: 50px;
         height: 50px;
         border-radius: 50%;
       }
     }  
  }