<header>
    <div class="title-container">
      <a class="home" href="/"><h1 id="title" class="title"></h1></a>
    </div>
    <div class="menu-container">
        <a class="login">Login / Registrate</a>
        <a id="hamburger-icon" class="hamburger-icon" href="#">
          <i class="fa fa-bars"></i>
        </a>
    </div>
</header>
<nav class="nav-sections">
  <a title="DIY" id="diy" href='/'>DIY</a>
  <a title="Politica" id="politica" href='/'>Politica</a>
  <a title="Ciencia" id="ciencia" href='/'>Ciencia</a>
  <a title="Tech" id="tech" href='/'>Tech</a>
  <a title="Cultura" id="cultura" href='/'>Cultura</a>
  <a title="Eventos" id="eventos" href='/'>Eventos</a>
  <a title="Popular" id="popular" href='/'>Popular</a>
</nav>
