<header>
    <div class="title-container">
      <a class="home" href="/"><h1 id="title" class="title"></h1></a>
    </div>
    <div class="menu-container">
        <a class="login">Login / Registrate</a>
        <a id="hamburger-icon" class="hamburger-icon" href="#">
          <i class="fa fa-bars"></i>
        </a>
    </div>
</header>
