<nav class="nav-sections">
    <a title="Home" id="home" href='/'>Home</a>
    <a title="Politica" id="politica" href='/'>Politica</a>
    <a title="Ciencia" id="ciencia" href='/'>Ciencia</a>
    <a title="Tech" id="tech" href='/'>Tech</a>
    <a title="Cultura" id="cultura" href='/'>Cultura</a>
    <a title="Eventos" id="eventos" href='/'>Eventos</a>
    <a title="Popular" id="popular" href='/'>Popular</a>
</nav>